#KeyboardSection{
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 585px;
    overflow:visible;
}
.keyboard {
    width:570px;
    padding: 22.5px 6px 9.75px;
    background: #f5f3f1;
    background: -webkit-linear-gradient(top, #e5e2e1, #f5f3f1, #e5e2e1);
    background: -moz-linear-gradient(top, #e5e2e1, #f5f3f1, #e5e2e1);
    background: -ms-linear-gradient(top, #e5e2e1, #f5f3f1, #e5e2e1);
    background: -o-linear-gradient(top, #e5e2e1, #f5f3f1, #e5e2e1);
    background: linear-gradient(to bottom, #e5e2e1, #f5f3f1, #e5e2e1);
    border-radius: 5px;
    box-shadow: 0 0 7.5px rgba(0, 0, 0, 0.2), inset 0 0 3px rgba(0, 0, 0, 0.3);
    -webkit-transform: rotateX(15deg);
    -ms-transform: rotateX(15deg);
    -o-transform: rotateX(15deg);
}
.keyboard #main {
    padding: 1.5px 0 1.5px 1.5px;
    background: #4d4d4d;
    border-radius: 3px;
    overflow: hidden;
}

.key, .f_key {
    width: 30px;
    height: 33.75px;
    margin: 1.5px;
    border-width: 2.25px 5.25px 7.5px;
    border-style: solid;
    border-radius: 3px;
    float: left;
}

.key.pressed, .f_key.pressed {
    -webkit-transform: scale(0.95, 0.95);
    -moz-transform: scale(0.95, 0.95);
    -ms-transform: scale(0.95, 0.95);
    -o-transform: scale(0.95, 0.95);
    transform: scale(0.95, 0.95);
}
  
.key {
    background: #d3cfcc;
    border-color: #ece8e4 #dedad6 #c9c4c4;
}
  
.f_key {
    background: #a8aeb8;
    border-color: #c4c7cc #adb9cc #96a6bd;
}
.key .keycap {
  width: 24.75px;
  height: 30px;
  padding: 3.75px 0 0 5.25px;
  font-size: 15px;
  line-height: 1;
  background: #f5f3f1;
  background: -webkit-linear-gradient(left, #e5e2e1, #f5f3f1, #e5e2e1);
  background: -moz-linear-gradient(left, #e5e2e1, #f5f3f1, #e5e2e1);
  background: -ms-linear-gradient(left, #e5e2e1, #f5f3f1, #e5e2e1);
  background: -o-linear-gradient(left, #e5e2e1, #f5f3f1, #e5e2e1);
  background: linear-gradient(to right, #e5e2e1, #f5f3f1, #e5e2e1);
  box-shadow: 0 0 7.5px rgba(0, 0, 0, 0.15);
  border-radius: 3px;
  position: relative;
}
.f_key .keycap {
  width: inherit;
  height: inherit;
  font-size: 15px;
  line-height: 33.75px;
  text-indent: 5.25px;
  background: #cdd3de;
  background: -webkit-linear-gradient(left, #bbc3d2, #cdd3de, #bbc3d2);
  background: -moz-linear-gradient(left, #bbc3d2, #cdd3de, #bbc3d2);
  background: -ms-linear-gradient(left, #bbc3d2, #cdd3de, #bbc3d2);
  background: -o-linear-gradient(left, #bbc3d2, #cdd3de, #bbc3d2);
  background: linear-gradient(to right, #bbc3d2, #cdd3de, #bbc3d2);
  box-shadow: 0 0 7.5px rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  position: relative;
}
.keyboard .top {
    padding: 2.25px 3.75px 0 0;
    font-size: 9px;
    font-style: italic;
    text-align: right;
    line-height: 1;
    display: block;
}
.keyboard .bottom {
    width: inherit;
    line-height: 20px;
    display: block;
}

.keyboard .side {
    font-size: 7.5px;
    line-height: 1;
    display: block;
    position: absolute;
    left: 3px;
    bottom: -7.5px;
    -webkit-transform: rotateX(50deg);
    -moz-transform: rotateX(50deg);
    -ms-transform: rotateX(50deg);
    -o-transform: rotateX(50deg);
    transform: rotateX(50deg);
  }
  

.k18.left {
    width: 28.5px;
    border-right-width: 6.75px;
}
.k18.right {
    width: 28.5px;
    border-left-width: 6.75px;
}
.keycap {
    width: 22.5px;
}
.k91, .k93 {
    width: 54px;
}
.k91 .top, .k93 .top {
    font-size: 13px;
}
.k91 .bottom, .k93 .bottom {
    font-size: 20px;
}
.k91.left {
    border-right-width: 7.5px;
}
.k93.right {
    border-left-width: 7.5px;
}
.k32 {
    width: 246px;
    border-width: 2.25px 6px 7.5px;
}

.k32 .keycap {
    width: 241px;
}
.k32.pressed {
    -webkit-transform: scale(0.98, 0.95);
    -moz-transform: scale(0.98, 0.95);
    -ms-transform: scale(0.98, 0.95);
    -o-transform: scale(0.98, 0.95);
    transform: scale(0.98, 0.95);
}
  
  
.keyboard #addition_wrap {
    width: 487.5px;
    margin: -2px 0 0 40px;
    padding: 0 2px 2px;
    background: #4d4d4d;
    border-radius: 0 0 3px 3px;
    position: relative;
}
.keyboard #addition_wrap:before, #addition_wrap:after {
    content: "";
    width: 3.75px;
    height: 3.75px;
    background: #ebe8e7;
    border-top: 2px solid #4d4d4d;
    position: absolute;
    top: 0px;
}
.keyboard #addition_wrap:before {
    left: -3.75px;
    border-right: 2px solid #4d4d4d;
    border-radius: 0 3.75px 0 0;
}
.keyboard #addition_wrap:after {
    right: -3.75px;
    border-left: 2px solid #4d4d4d;
    border-radius: 3.75px 0 0 0;
}

.keyboard #addition {
    overflow: hidden;
}


@media only screen and (max-width: 600px) {
    #KeyboardSection{
        min-width: 351px;
    }
    .keyboard {
        width:342px;
        padding: 13px 3.6px 5.85px;
    }
    .key, .f_key {
        width: 18px;
        height: 20.25px;
        margin: 1px;
        border-width: 1px 3px 4px;
        border-radius: 2px;
        box-shadow: 0 0 4.5px rgba(0, 0, 0, 0.2), inset 0 0 2px rgba(0, 0, 0, 0.3);
    }
    .key .keycap {
        width: 14.85px;
        height: 18px;
        padding: 2.25px 0 0 3.15px;
        font-size: 10px;
        line-height: 1;
        box-shadow: 0 0 4.5px rgba(0, 0, 0, 0.15);
        border-radius: 2px;
    }
    .k18.left {
        width: 17px;
        border-right-width: 4px;
    }
    .k18.right {
        width: 18px;
        border-left-width: 0px;
    }
    .keycap {
        width: 13.5px;
    }
    .k91, .k93 {
        width: 32.4px;
    }
    .k91 .top, .k93 .top {
        font-size: 7.8px;
    }
    .k91 .bottom, .k93 .bottom {
        font-size: 12px;
    }
    .k91.left {
        border-right-width: 4.5px;
    }
    .k93.right {
        border-left-width: 4.5px;
    }
    .k32 {
        width: 147.6px;
        border-width: 1.35px 3.6px 4.5px;
    }
    
    .k32 .keycap {
        width: 144.6px;
    }
    .keyboard #addition_wrap {
        width: 292.5px;
        margin: 0px 0px 0px 15px;
        padding: 0 0px 2px;
        background: #4d4d4d;
        border-radius: 0 0 3px 3px;
        position: relative;
    }
  }